<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${article.title}">Article</title>
</head>
<body>
    <div layout:fragment="content">
        <h1 th:text="${article.title}">Article Title</h1>

        <p>
            Tags:
            <a th:each="tag : ${article.tags}" th:href="@{/tags/{id}(id=${tag.id})}">
                <span th:text="${tag.name}">Tag Name</span>
            </a>
        </p>

        <p><img th:if="${article.image}" th:src="@{/images/{id}(id=${article.image.id})}" /></p>

        <p th:text="${article.body}">Article Body</p>

        <form th:action="@{/articles/{id}(id=${article.id})}" th:method="delete" id="delete-link">
            <a href="#" onclick="if (window.confirm('Really delete the article?')) document.getElementById('delete-link').submit();">
                delete
            </a>
        </form>
        <a th:href="@{/articles/{id}/edit(id=${article.id})}">edit</a>

        <h3>Comments (<span th:text="${#lists.size(article.comments)}">count</span>)</h3>
        <div th:each="articleComment : ${article.comments}" th:include="articles/_comment :: comment(${articleComment})">
            Comments Content
        </div>

        <div th:include="comments/_form :: form">
            Comment Form
        </div>

        <a th:href="@{/articles}"><< Back to Articles List</a>
    </div>
</body>
</html>